#header
{
    height: 100px;
    text-align: center;
    background-color : olivedrab;
    font-size: 30px;
    color: black;
}
#title
{
    padding-top: 10px; 
}
#main
{
    text-align: center;
}
#legend
{
    font-weight: bold;
}
#fieldset
{
    text-align: left;
}
#div
{
    text-align: left;
    border: 3px solid black;
    padding-left: 10px;
    background-color:olivedrab;
    padding-bottom: 10px;

}
#submit
{
    background-color: olivedrab;
    width: 100px;
    height: 50px;
    font-size: 25px;

}
#submit:hover
{
    background-color: lawngreen ;
    transform: scale(1.5);
    font-weight: bold;
}
